/* Community Sec Start Here */
@media (max-width: 1100px) {
    .about_page {
      padding: 70px 0 50px;
    }
    .about_page .nft-slider figure {
      padding: 0 8%;
    }
  }
  @media (max-width: 991px) {
    .community_sec .community_box .txt h3 {
      font-size: 35px;
      line-height: 35px;
    }
    .community_sec .community_box {
      padding: 20px 30px;
    }
    .about_page .nft-slider {
      margin: 0 30%;
    }
    .about_page .left-box .glowing {
      display: none;
    }
    .community_sec .community_box {
      margin: 0 10px 0px;
    }
  }
  @media (max-width: 575px) {
    .about_page .nft-slider {
      margin: 0 9%;
    }
    .community_sec .community_box {
      display: block;
      text-align: center;
    }
    .community_sec .community_box .icon-box img {
      width: 130px;
    }
    .faqs_sec {
      padding: 40px 0 60px;
    }
    .faqs_sec .heading-wrapper h2 {
      font-size: 35px !important;
      line-height: 35px !important;
    }
    .faqs_sec .accordion-item .accordion-button i {
      display: none;
    }
    .faqs_sec .accordion-item .accordion-button {
      padding: 15px 0;
    }
    .faqs_sec .accordion-item .accordion-button h5 {
      padding-left: 0;
    }
  }
  /* Community Sec End Here */
  